[data-theme="dark"] body {
    background-color: #2b2b2b;
    color: #bababa;
}

[data-theme="dark"] .main-content {
    background-color: #323232;
    box-shadow: rgba(0, 0, 0, 10%) 0 0 30px;
}

[data-theme="dark"] .section-header {
    color: #9dc450;
}

[data-theme="dark"] .objective {
    color: #ccc;
}

[data-theme="dark"] a {
    color: #5a98be;
}
