.section-header {
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}

.contact p {
    margin-bottom: .25rem
}

.job-title {
    font-size: 1.1rem;
}
.contact {
    text-align: left;
}
.section-header {
    color: darkred;
}
.additional-page-header {
    display: none;
}
ul.interests {
    list-style: none;
    padding-left: 0;
}
ul.interests li {
    display: inline;
}
ul.interests li::after {
    content: " • ";
}
ul.interests li:last-child::after {
    content: "";
}

.objective {
    text-align: justify;
    font-size: 1.1em;
}

/*
.core-skills h4, .core-skills h5 {
    text-align: center;
}

.core-skills ul {
    list-style: none;
    text-align: center;
    padding: 0;
}
*/
@media screen {
    body {
        background-color: rgb(225, 225, 225);
    }

    .main-content {
        min-height: calc(100vh - 48px);
        background-color: rgb(245, 245, 245);
        box-shadow: rgba(0, 0, 0, 10%) 0 0 30px;
        left: 0;
        right: 0;
    }

    .page-break {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .contact {
        text-align: right;
    }
}

/* xs */
@media screen and (min-width: 0px) {
    h1 {
        font-size: calc(1.2rem + 1.5vw);
    }
    h2 {
        font-size: calc(1.1rem + .9vw);
    }
}

/* sm */
@media screen and (min-width: 576px) {
    .main-content {
        padding: 24px;
    }
}

/* md */
@media screen and (min-width: 768px) {
    h1 {
        font-size: calc(1.3rem + 1.5vw);
    }
    h2 {
        font-size: calc(1.2rem + .9vw);
    }

    .main-content {
        padding: 60px;
        margin: 24px auto;
    }
}

/* lg */
@media screen and (min-width: 992px) {
    h1 {
        font-size: calc(1.375rem + 1.5vw);
    }
    h2 {
        font-size: calc(1.325rem + .9vw);
    }
}

/* xl */
@media screen and (min-width: 1200px) {

}

/* xxl */
@media screen and (min-width: 1400px) {

}
